/* all */

* { 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

:root {
--white: #fff;
--primary-color-black-green: #143C3C;
 
}


/* common */

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 57px;
    min-width: none;
    border-radius: 40px;
    border: 1.5px solid #143C3C;
    background: var(--primary-color-black-green, #143C3C);
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
}

button {
    cursor: pointer;
}

.pre-title::before {
    content: "";
    top: 9px;
    left: 0px;
    display: block;
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: #000;
  }

.pre-title {
    color: var(--primary-color-black, #152427);
    position: relative;
display: flex;
    /* Paragraph/h4 16px medium */
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding-left: 46px;
    margin-bottom: 20px;
}

.title {
    color: var(--primary-color-black, #152427);
position: relative;
    /* Heading/H3 42px bold */
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    width: 520px;
}

.title::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 3px;
    background-color: #000;
    margin-bottom: 8px;
  }


/* Header */

.top-header--wrapper, .hero {
    font-family: 'Public Sans', sans-serif;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
    padding-bottom: 13px;
}

.header__nav {
display: flex;
align-items: center;
justify-content: space-between;
gap: 88px;
}

.header__nav--list {
display: flex;
align-items: center;
justify-content: space-between;
gap: 38px;

}

.header__nav--link {
color: #575D5E;
position: relative;
}

.header__nav--link:hover,
.header__nav--link.active {
color: #152427;
}

.header__nav--link.active::after {
    content: "";
    position: absolute;
    top: 50px;
    display: block;
    width: 16px;
height: 2px;
background: var(--primary-color-black-green, #143C3C);
}

.seperate-line {
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(18deg, #FFF 0%, #DDDCDC 51.25%, rgba(212, 212, 212, 0.00) 100%);
}

/* hero */

.hero {
display: flex;
justify-content: space-between;
padding-bottom: 130px;
}

.hero__texts {

}

.hero__text--title {
    color: var(--primary-color-black, #152427);
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    width: 368px;
    margin-bottom: 20px;
    margin-top: 103px;
}

.hero__text--desc {
    color: var(--text-color-black-gray, #575D5E);
width: 341px;
    /* Paragraph/h2 18px medium */
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 42px;
}

.hero__text--btns {
display: flex;
align-items: center;
gap: 36px;
}

.hero__text--btn {

}

.hero__text--play {
display: flex; 
align-items: center;
gap: 9px;
cursor: pointer;
}

.hero__text--play-btn {
background: #83A17D;
color: #FEF6FB;
position: relative;
width: 44px;height: 44px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
font-size: 12px;
}

.hero__text--play-btn::before {
    content: "";
    display: block;
    background-color: var(--white);
    border: 4px solid;
    border-color: #143C3C transparent transparent #143C3C;
    width: 50px; height: 50px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(-45deg);
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.hero__text--play:hover .hero__text--play-btn::before{
    animation: rotate 1s linear infinite;
}

.hero__text--play-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.hero__imgs {
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
position: relative;
padding-top: 60px;
padding-bottom: 77px;
}

.hero__imgs::before {
    content: "";
    display: block;
    width: 340px;
height: 340px;
z-index: -1;
border-radius: 340px;
background: #4DBB9A;
filter: blur(137px);
position: absolute;
top: 231px;
right: 177px;
}

.hero__img {
width: 202px;height: 466px;
border-radius: 110px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
object-fit: cover;
}

.hero__img:nth-child(2) {
    transform: translateY(77px);
}

.hero__decoration {

}

.hero__decoration--item {
position: absolute;
}

.hero__decoration--item:nth-child(1) {
top: 45px;
left: -211px;
}

.hero__decoration--item:nth-child(2) {
    top: 44px;
    left: -165px;
}

.hero__decoration--item:nth-child(3) {
    top: 566px;
    left: 567px;
}

.hero__decoration--item:nth-child(4) {
    transform: rotate(175.95deg);
    top: 308px;
    left: 50px;
}

/* brands */
.brands {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1140px;
height: 201px;
flex-shrink: 0;
    border-radius: 100.5px;
    background: var(--scondery-color-light-green, #E2EDDF);
}

/* services */

.services-container {
    width: 1200px;
    margin: 0 auto;
    padding: 106px 50px 157px;
    overflow: hidden;
}

.services {

}

.services__text {
display: flex;
justify-content: space-between;
margin-bottom: 76px;
}

.slide-btns {
display: flex;
gap: 17px;
}

.slide-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;height: 54px;
    border-radius: 50%;
    background-color: #E2EDDF;
    color: #152427;
    cursor: pointer;
    align-self: flex-end;
}

.slide-btn:hover {
    background: #143C3C;
    color: var(--white);
}

.services__list {
display: flex;
gap: 16px;
}

.services__item {
width: 368px;height: 454px;
flex-shrink: 0;
transition: .25s;
overflow: hidden;
}

.services__item:hover {
    border-radius: 0px 0px 20px 20px;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__item:hover .services__item--text {
    margin: 24px 18px;
}

.services__item:hover .services__item--img {
    transform: scale(1.2);
}

.services__item--img-link {
    display: block;
    width: 370px;height: 318px; 
    overflow: hidden;
border-radius: 20px 20px 0px 0px;

}

.services__item--img {
width: 370px;height: 318px;
object-fit: cover;
border-radius: 20px 20px 0px 0px;
transition: .25s;
}

.services__item--text {
margin: 24px 0;
}

.services__item--title {
margin-bottom: 18px;
display: -webkit-box;
-webkit-line-clamp: var(--line-clamp, 1);
-webkit-box-orient: vertical;
}

.services__item--desc {
display: -webkit-box;
-webkit-line-clamp: var(--line-clamp, 3);
-webkit-box-orient: vertical;
overflow: hidden;
}

/* about us */
.aboutus {
    display: flex;
    margin-bottom: 79px;
}

.aboutus__imgs {
    width: 52%;
    flex-shrink: 0;
display: flex;
gap: 21px;
position: relative;
margin-right: 62px;

}
.aboutus__img {
    width: 284px;
height: 480px;
object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    
}

.aboutus__img:nth-child(2) {
    transform: translateY(-77px);
}

.aboutus__decoration--item {
position: absolute;
}

.aboutus__decoration--item:first-child {
    top: -73px;
    right: 498px;
}

.aboutus__decoration--item:nth-child(2) {
    top: -75px;
    right: -11px;
}

.aboutus__card {
padding: 19px 23px;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
position: absolute;
top: 333px;
right: -30px;
}

.aboutus__card--title {
    color: var(--primary-color-black, #152427);
    font-size: 14px;
    font-family:  'Public Sans', sans-serif;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 6px;
}

.aboutus__card--desc {
    color: var(--text-color-black-gray, #575D5E);
    font-size: 10px;
    font-family:  'Public Sans', sans-serif;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 10px;
}

.aboutus__card--percentage {
display: flex;
flex-direction: column;
gap: 3px;
margin-bottom: 18px;
}

.aboutus__card--number, 
.aboutus__card--loading-status,
.aboutus__card--text {
    color: var(--primary-color-black, #152427);
    font-size: 10px;
    font-family:  'Public Sans', sans-serif;
    font-weight: 500;
    line-height: 14px;
}

.aboutus__card--line {
    width: 96px;
    height: 2px;
    border-radius: 10px;
background: #EAEAEA;
}

.aboutus__card--line-loading {
    display: block;
    border-radius: 10px;
    background: #83A17D;
    width: 40px;
height: 2px;
}

.aboutus__card--teams {
display: flex;
justify-content: space-between;
}

.aboutus__card--imgs {
    display: flex;
}

.aboutus__card--img {
    width: 16px;height: 16px;
margin-left: -4px;
border-radius: 50%;
}

.aboutus__text {

}

.aboutus__text--title {
margin-bottom: 11px;
}

.aboutus__text--desc {
    color: var(--text-color-light-gray, #7D8188);

    /* Paragraph/h4 16px medium */
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

}

.aboutus__text--stat {

}

.aboutus__text--stat-item {
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
padding-bottom: 20px;
margin-top: 36px;
border-bottom: solid 1px #83A17D;
}

.aboutus__text--stat-item-number {
    color: var(--primary-color-black, #152427);

    /* Heading/H3 42px bold */
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
}

.aboutus__text--stat-item-desc {
    color: var(--text-color-light-gray, #7D8188);

    /* Paragraph/h6 14px medium */
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

/* process */
.process {
    padding-top: 36px;
    padding-bottom: 148px;
}

.process__text {
margin-bottom: 81px;
}

.process__item {
    width: 1140px;
height: 185px;
display: flex;
align-items: center;
gap: 64px;
    border-radius: 33px;
    padding: 57px 30px;
    position: relative;
}

.process__item:hover {
    background: var(--scondery-color-light-green, #E2EDDF);
}
.process__item--number {
    color: var(--primary-color-black-green, #143C3C);
    /* Heading/H1 72px bold */
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    min-width: 109px;
}

.process__item--title {
    color: var(--primary-color-black, #152427);
    display: flex;
flex-direction: column;
gap: 22px;
    flex-basis: 25%;
    /* Heading/h1 22px semibold */
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.process__item:hover .process__item--more {
    text-decoration: underline;
    display: block;
}
.process__item:hover .process__list--figure {
    display: block;
}
.process__item:hover .process__item--desc {
    display: none;
}

.process__item--more {
    color: var(--text-color-black-gray, #575D5E);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: none;
}

.process__list--figure {
display: none;
width: 450px;height: 444px;
object-fit: contain;
position: absolute;
top: -240px;
right: 182px
}

.process__item--desc {
    color: var(--text-color-light-gray, #7D8188);
    /* Paragraph/h2 18px medium */
    font-size: 18px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    flex-basis: 50%;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* feature */
.features-wrapper {
    background: #143C3C;
}

.features {
padding-top: 116px;
padding-bottom: 63px;
}

.features__text {
display: flex;
align-items: center;
gap: 93px;
margin-bottom: 65px;
}

.features__title {
flex: 1;
color: #E7F9F9;
}

.features__title::after {
    background-color: #e7f9f9;
}

.features__desc {
    flex: 1;
    display: flex;
flex-direction: column;
gap: 13px;
color: var(--scondery-color-gray, #6A8383);

/* Paragraph/h2 18px medium */
font-size: 18px;
font-family: Public Sans;
font-style: normal;
font-weight: 500;
line-height: 28px;
}

.features__more {
color: #fff;
display: flex;
align-items: center;
gap: 26px;
}

.features__more--icon {
color: #80A07B;
}

.features__decoration--item {
display: none;
}

.features__video {

}

.features__video--thumbnail {
    height: 544px; width: 100%;
background: url(../imgs/video.jpeg) no-repeat; 
border-radius: 22px;
background-position: center;
background-size: cover;
object-fit: cover;
display: flex;
align-items: center;
justify-content: center;
}

.play-btn {
   background: #000000B2;
   width: 118px;
height: 118px;
border-radius: 50%;
font-size: 37px;
color: var(--white);
}

/* customers */
.customers {
padding-top: 140px;
padding-bottom: 184px;
text-align: center;
}

.customers__text {
    display: inline-block
}

.customers__text--title {
    color: var(--primary-color-black, #152427);
    text-align: center;
    width: 520px;
    /* Heading/H3 42px bold */
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    margin-bottom: 20px;
}

.customers__text--desc {
    color: var(--text-color-light-gray, #7D8188);
    text-align: center;
    width: 547px;
    /* Paragraph/h4 16px medium */
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
   
}

.customers__list {
    margin-top: 103px;
display: flex;
align-items: center;
justify-content: space-between;
}

.customers__list--item {
text-align: center;
padding: 60px 43px;
width: 350px;
min-height: 362px;
border-radius: 160px;
border: 1.5px solid #CECECE;
transition: .2s;
}

.customers__list--item:hover {
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.20);
    transform: translateY(-49px);
    border: none;
cursor: pointer;
}

.customers__list--item-icon {
display: inline;
margin-bottom: 23px;

}

.customers__list--item-title {
margin-bottom: 12px;
color: #152427;

/* Paragraph/h1 20px semibold */
font-size: 20px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 20px;
}

.customers__list--item-desc {
    color: var(--text-color-light-gray, #7D8188);
    text-align: center;
    
    /* Paragraph/h6 14px medium */
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

/* blog */
.blog {
padding-bottom: 102px;
}

.blog-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.blog__text {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 90px;
}

.blog__text--pre-title {
    margin-bottom: 0px;
}

.blog__text--title {
    width: 600px;

}

.blog__text--desc {
width: 409px;
color: var(--text-color-light-gray, #7D8188);

/* Paragraph/h4 16px medium */
font-size: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
line-height: 26px;
}

.blog__list {
    display: flex;
    justify-content: space-between;
}

.blog__item {
width: 360px;
cursor: pointer;
overflow: hidden;
transition: .25s;
}

.blog__item--img-link {
    display: block;
    width: 360px;
    height: 317px;
    overflow: hidden;
    border-radius: 40px 40px 0px 0px;
}

.blog__item--img {
    width: 360px;
    height: 317px;
    object-fit: cover;
transition: .25s;
}

.blog__item--text {
padding-top: 26px;
padding-bottom: 9px;
}

.blog__item:hover {
    border-radius: 40px 40px 20px 20px;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
    overflow: hidden;
}

.blog__item:hover .blog__item--img {
    transform: scale(1.2);
}

.blog__item:hover .blog__item--text {
    padding: 30px 30px 0 30px;
}

.blog__item--btn {
    display: block;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: var(--scondery-color-light-green, #E2EDDF);
    color: #000;
display: flex;
align-items: center;
justify-content: center;
font-size: 10px;
font-weight: 500;
line-height: 12px;
margin-bottom: 13px;
}

.blog__item--btn:hover {
    border-radius: 20px;
background: var(--primary-color-black-green, #143C3C);
color: var(--white);
}

.blog__item--title {
    color: var(--primary-color-black-green, #143C3C);

    /* Paragraph/h3 18px bold */
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 90px;

}

.blog__item--date {
    border-top: 2px solid #c4c4c4;
    margin-top: 9px;
    padding-top: 16px;
    margin-bottom: 9px;
    color: var(--text-color-black-gray, #575D5E);

/* Paragraph/10px */
font-size: 10px;
font-weight: 500;
line-height: 12px;
text-align: right;
}

/* footer */

.footer__wrapper {
    background: var(--primary-color-black-green, #143C3C);
}

.footer {
padding-top: 72px;
padding-bottom: 50px;
}

.footer-content {
display: flex;
align-items: center;
justify-content: center;
}

.footer__action {
flex: 1;
}

.footer__action--title {
    color: var(--text-color-white, #FFF);
margin-bottom: 25px;
    /* Heading/H4 32px semibold */
    font-size: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__action--input-wrapper {
    border-bottom: 2px solid #6A8383;
width: 354px;
display: flex;
padding-bottom: 36px;
font-size: 20px;
align-items: center;
margin-bottom: 47px;
}

.footer__action--input {
background: transparent;
outline: none;
border: none;
width: 354px;
caret-color: var(--white);
}

.footer__action--input::placeholder {
    color: var(--scondery-color-gray, #6A8383);

/* Heading/h1 22px semibold */
font-size: 22px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 22px;
}

.footer__action--btn {
cursor: pointer;
color: #C4C4C4;
}

.footer__action--icons {
display: flex;
gap: 22px;
}

.footer__action--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    color: var(--white);
}

.footer__action--icon:hover {
    border: transparent;
background: #A75325;
color: #fcfcfc;
}

.footer__columns {
    flex: 1;
display: flex;
align-items: center;
justify-content: space-between;
}

.footer__column {

}

.footer__column--title {
    color: var(--text-color-white, #FFF);

    /* Paragraph/h2 18px medium */
    font-size: 18px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 6px;
}

.footer__column--link {
display: block;
color: var(--scondery-color-gray, #6A8383);

/* Paragraph/h5 16px medium */
font-size: 16px;
font-family: Public Sans;
font-style: normal;
font-weight: 500;
line-height: 36px;
}

.footer__column--link:hover {
    text-decoration: underline;
    color: #CCC;
}

.footer-seperate {
    margin-top: 45px;
    width: 1140px;
height: 1px;
    background: linear-gradient(14deg, #143C3C 0%, #295A5A 53.48%, rgba(38, 82, 82, 0.00) 100%);
}
